* {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For Safari and Chrome */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE/Edge */
}



body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* White text for contrast */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

h1, h2, h3, p {
  color: #e0e0e0; /* Light gray text */
}

h1, h2, h3 {
  color: #8e44ad; /* Purple text for headings */
}

a {
  color: #8e44ad; /* Purple links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Adding box shadow for elements */
.card, .footer, .project-card {
  border-radius: 8px;
  padding: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Remove background and box shadow for header */
.header {
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}